@import url('https://fonts.googleapis.com/css?family=Bungee');
@import url('https://fonts.googleapis.com/css?family=Orbitron');
$font-display: 'Orbitron', sans-serif;

html {
  font-family: 'Bungee', cursive;
  background-color: #B0BEC5;
}

.circle-big {
  width: 492px;
	height: 492px;
	background: #333;
	border-radius: 100%;
  margin:0 auto;
  position: relative;
  box-shadow: 0px 0px 12px #222;
  .top {
    position: relative;
    .green {
      border-top-left-radius : 100%;
      background-color: green;
      width: 220px;
      height: 220px;
      display: inline-block;
      border: 12px solid #333;
    }
    .red {
      border-top-right-radius : 100%;
      background-color: red;
      width: 220px;
      height: 220px;
      display: inline-block;
      border: 12px solid #333;
    }
    .lighter {
        background-color: black;
      }
  }
  .bottom {
    position: relative;
    .yellow {
      border-bottom-left-radius : 100%;
      background-color: yellow;
      width: 220px;
      height: 220px;
      display: inline-block;
      border: 12px solid #333; 
    }
    .blue {
      border-bottom-right-radius : 100%;
      background-color: blue;
      width: 220px;
      height: 220px;
      display: inline-block;
      border: 12px solid #333;
    }
    .lighter {
        background-color: black;
      }
  }
}

.circle-small {
  width: 270px;
	height: 270px;
	background: #fff;
	border-radius: 100%;
  margin: 0 auto;
  position: relative;
  border: 12px solid #333;
  margin-top: -400px;
}

.title {
  position: relative;
  text-align:center;
  padding-top:40px;
  font-size: 45px;
  font-weight: bold;
  margin: 0;
  padding:37px 0 10px 0;
}

.display-buttons {
  display: flex;
  .display-char {
    background-color: #7e0303;
    width:40px;
    height:30px;
    margin: 0 auto;
    text-align: center;
    line-height: 34px;
    color: red;
    font-size: 22px;
    font-weight: 900;
    font-family: $font-display;
    border: 5px solid black;
    border-radius: 20%;
    box-shadow: 0px 2px 5px black;
  }
  .led-off-char {
    color:#430710;
  }
  .display {
    margin: auto;
    padding:10px;
    h3 {
    text-align: center;
    font-size:15px;
    margin-top: 20px;
    }
  }
  .buttons {
    margin: 0 auto;
  }
  .start {
    padding-right: 30px; 
  }
  .start, .strict {
    display: inline-block;
    margin: 0;
    h3 {
      font-size: 15px;
      margin-top: 19px;
    }
  }
  .start-button {
    width: 25px;
    height: 25px;
    background: red;
    border-radius: 100%;
    border:4px solid black;
    box-shadow: 0px 3px 3px black;
    margin: 0 auto;
    position: relative;
  }
  .start-button:active, .strict-button:active {
    box-shadow: 0 1px 1px #000;
    top: 3px;
  }
  .led {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: #333;
    margin: 0 auto 10px auto;
    position: relative;
    border:0.5px solid #000;
    .led-on {
    background-color: #2ffd00;
  }
  }
  .strict-button {
    width: 25px;
    height: 25px;
    background: yellow;
    border-radius: 100%;
    border:4px solid black;
    box-shadow: 0px 3px 3px black;
    margin: 0 auto;
    position: relative;
  }
}

.switch {
  display: flex;
  width: 50%;
  margin: 0 auto;
  .switch-box {
    display:inline;
    width: 45px;
    height: 20px;
    background: #004180;
    border-radius:2px;
    .switch-slide {
      width: 20.5px;
      height: 16px;
      background-color: #2196F3;
      border:2px solid #004180;
      border-radius: 4px;
    }
    .sw-on {
        margin-left:20.5px;
      }
  }
  .switch-on, .switch-off {
    font-size:15px;
    margin: auto;
  }
}

.clickable {
  pointer-events: auto;
  cursor: pointer;
  }

.unclickable {
  pointer-events: none;
}

